/* https://www.asweetpeachef.com/banana-protein-shake/ page got recipies frm */

/* bg colors*/
.main {
  background-color: lightgreen;
}

.bshake {
  background-color: rgb(223, 223, 83);
}

.bbshake {
  background-color: lightblue;
}

.sshake {
  background-color: lightcoral;
} 

/* headings and fonts */
h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px darkgray;
  
}

h2 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  text-align: center;
}

/* list stuff */

ul {
  list-style: none;
}

ol {
  list-style: none;
  padding: 15px;
}

li {
  font-family: sans-serif;
}

a {
  font-weight: bolder;
}
/* img rules */

img {
  border: 10px solid #873e23;
}

/* buttons */

.button {
  background-color: yellow;
  border: 5px solid yellow;
  border-radius: 12px;
  color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  width: 275px;
  height: 30px;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 5px;
}

.button2 {
  
  background-color: lightblue; 
  border: 5px solid lightblue;
  border-radius: 12px;
  color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  width: 275px;
  height: 30px;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 5px;
}

.button3 {
  background-color: lightcoral;
  border: 5px solid lightcoral;
  border-radius: 12px;
  color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  width: 275px;
  height: 30px;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 5px;
}

.button:hover {
  background-color: white;
}

.button2:hover {
  background-color: white;
}

.button3:hover {
  background-color: white;
}

 /* Footer buttons */

.home:hover {
  background-color: white;
}

footer {
  text-align: center;
}

.home {
  background-color: lightgreen;
  border: 5px solid lightgreen;
  border-radius: 12px;
  color: blue;
  padding: 15px 32px;
  margin: 20px;
  text-decoration: none;
  width: 275px;
  height: 30px;
  font-size: 16px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}